.DS_Store
node_modules

/.cache
/build
/public/build
.env

/app/lib/firestore-model/src/lib/config/*.json
app/lib/firestore-model/src/config/amodomio-manager.json

app/lib/firestore-model/src/config/amodomio-manager-dev.json

.env.dev
